
.container{
    width: 400px;
    height: 400px;
    /* border: 1px solid green; */
    /* border-bottom: 1px solid rgb(223, 83, 18); */
    border-width: 1px;
    border-style: solid;
    border-color: green;
    border-radius: 50%;
    /* padding: 10px; */
    /* padding-left: 100px; */
    /* padding-top: 100px; */

    padding: 10px 20px 30px 20px;
    box-sizing: border-box;
    /* margin: 100px; */
    margin: 100px 200px;
}