/* *{
    background-color: yellow;
    color: white;
} */

.container{
    overflow: scroll;
}

h1{
    color: red;
}

#para{
    font-size: 24px;
}

h1,p{
    background-color: pink;
}

.box{
    color: blueviolet;
}

 a[target="_blank"]{
    color: green;
}

a:hover{
   color: pink; 
}

h2::first-letter{
    font-size: 100px;
    color: red;
}