@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'icomoon';
    src: url('icomoon.woff2') format('woff2'),
        url('icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

