*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

.container{
    height: 200px;
    width: 800px;
    /* border-width: 1px;
    border-style: solid;
    border-color: tomato; */
    border-radius: 10px;

    border: 1px solid tomato;
    padding: 50px;

   
/* margin: 100px; */
/* margin-top: 100px;
margin-left: 200px; */

/* margin: 20px 30px 40px 50px; */

margin: 100px 200px;



}

.box{
    height: 50%;
    width: 50%;
    border: 1px solid green;
}