
.container{
    width: 90vw;
    min-height: 90vh;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    display: flex;
    column-gap: 10px;
    /* justify-content: flex-start; */
    justify-content: center;
    /* justify-content: flex-end; */
    /* align-items: flex-start; */
    /* align-items: center; */
    /* align-items: flex-end; */
    flex-wrap: wrap;

    align-content: flex-start;
    row-gap: 10px;

    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */

    /* flex-flow: wrap row-reverse; */
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}