
.container{
    /* width: 500px; */
    width: 100%;
    /* height: 400px; */
    height: 500px;
    border: 1px solid green;
    background-image: url('./images/Ronaldo.jpg');
    /* background-position:top center; */
    /* background-position:center bottom; */
    /* background-position:left  bottom; */
    /* background-position:center  center; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: 100% 500px;

    /* background-attachment: scroll; */
    background-attachment: fixed;
    /* background-attachment: local; */

}