
.conatainer{
    margin: auto;
    width: 95vw;
    height: 80vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightcoral;
    /* flex-direction: column; */
}


.box{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    position: relative;
}

.box1{
    background-color: red;
}
.box2{
    background-color: greenyellow;
    top: 100px;
}
.box3{
    background-color: lightblue;
    bottom: 100px;

}
.box4{
    background-color: lightseagreen;
    right: 100px;
}
.box5{
    background-color: lightsteelblue;
    left: 100px;
    top: 200px;
}