
h1{
    color: red;
}

/* div p{
    letter-spacing: 5px;
    color: green;
} */

/* div>p{
    letter-spacing: 5px;
    color: green;
} */

.headingTow::first-letter{
font-size: 50px;
color: blueviolet;
}

#para::first-line{
font-style: italic;
font-weight: 900;
color: chartreuse;
background-color: yellow;
}

/* .container>p:first-child{
    background-color: aqua;
    color: red;
} */

/* .container>p:last-child{
    background-color: aqua;
    color: red;
} */


/* .container>p:nth-child(3){
    background-color: aqua;
    color: red;
} */


.container>p:nth-last-child(2){
    background-color: aqua;
    color: red;
}

p::selection{
    color: white;
    background-color: red;
}